server {
       listen 80;
       listen [::]:80;

       server_name {{ virtual_host }};

       root /var/www/{{ virtual_host }};
       index index.html;

       location / {
               try_files $uri $uri/ =404;
       }
}