---
- name: update hosts (( apt.yml, line 2 ))
  hosts: all
  tasks:
  - name: Run the equivalent of "apt-get update" as a separate step (( apt.yml, line:6 ))
    apt:
      update_cache: yes

- name: upgrade hosts
  hosts: all
  tasks:
   - name: Run the equivalent of "apt update"
     apt:
       upgrade: dist
     
